* {
   box-sizing: border-box;
   margin: 0;
   padding: 0; 
}

body{
    display: flex;
    font-family: sans-serif;
    justify-content: center;
}

.container {
    background: #14BDAC;
    width: 200px;
    
    height: 200px;
}